@font-face {
    font-family: 'Vazir';
    src: url('./assets/fonts/Vazir-FD.eot') format('eot'),
    url('./assets/fonts/Vazir-FD.woff') format('woff'),
    url('./assets/fonts/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    font-family: "BYekan";
    min-height: 100vh;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}